.header {
  position: relative;
  width: 100vw;
  height: 89vh;
  overflow: hidden;
}

.img-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.search-match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 800px;
}

.search-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-text {
  position: relative;
  display: flex;
  align-items: center;
}

.search-text input,
.search-text select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

.search-text input::placeholder,
.search-text select {
  color: #666;
}

.search-game button {
  grid-column: span 4;
  padding: 10px;
  background-color: #00897b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-game button:hover {
  background-color: #00695c;
}

.suggestions {
  list-style: none;
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 10;
  font-size: 1rem;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
  color: #333;
}

.suggestions li:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.complex-search {
  font-size: 2.5rem;
}

.complex-list {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
}

.complex-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.complex-list li {
  background-color: #00897b;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.complex-list li:hover {
  background-color: #00695c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00897b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00695c;
}

.complex-list,
.suggestions {
  scrollbar-width: thin;
  scrollbar-color: #00897b #00000000;
}
