.nav-head {
  background-color: var(--secondary);
  width: 100%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-circle {
  width: 70px;
  height: 70px;
  background-color: lightgray;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  background-color: var(--primary);
  padding: 15px 20px;
  color: white;
  font-weight: 500;
  box-shadow: 3px 3px #460222;
}

