.nav-head {
  background-color: var(--secondary);
  width: 100%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
}


.logo {
  width: 5rem;
  height: 5rem;
  transition:  0.3s ease-in-out; 
}

.logo:hover {
  cursor: pointer;
  scale: 150%;
  transition:  0.3s ease-in-out; 
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-menu a {
  text-decoration: none;
  background-color: var(--primary);
  padding: 15px 20px;
  color: var(--white);
  font-weight: 500;
  box-shadow: 3px 3px var(--shadow);
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.nav-menu a:hover {
  background-color: var(--accent);
  box-shadow: 8px 8px var(--shadow);
  transition: 0.2s ease-in-out;
}

.nav-menu-left{
  display: flex;
  gap: 20px;
  object-position: center;
  margin-right: 200px
}