footer {
    background-color: #00695c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  footer .img img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
  }
  
  footer .info {
    text-align: center;
  }
  
  footer .info p {
    margin: 5px 0;
  }
  
  footer .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  footer .social-media svg {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  footer .contact p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  footer .info p:hover, footer .contact p:hover {
    color: #f39c12;
  }
  
  footer .social-media svg:hover {
    color: #f39c12;
  }
  