*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--white);
  overflow-y: inherit;
  margin: 0;
  padding: 0;

  
}

:root{
  --bg-color: #004D40;
  --accent: #95204A;
  --primary: #5C022D;
  --secondary: #860636;
  --white: #F3F4FC;
  --lightgray: #B3B3B3;
  --black: #03040A;
  --shadow: #460222;

  --red-book: #E66A5A;
  --green-book: #53A960;

}